@(signupForm: Form[UserForm], fbId: String)

@import helper._

<html>

    <head>
        <title>Adbeit</title>
    </head>
    <body>

        <h1>Sign Up</h1>

        <p>
            @fbId
        </p>

        @helper.form(action = routes.SignUp.fbSubmit) {

            <fieldset>
                <legend>Account information</legend>

                @inputText(
                    signupForm("username"),
                    '_label -> "Username",
                    '_help -> "Please choose a valid username.",
                    '_error -> signupForm.globalError
                )

                @inputText(
                    signupForm("email"), '_label -> "Email",
                    '_help -> "Enter a valid email address."
                )

                @inputPassword(
                    signupForm("password.main"),
                    '_label -> "Password",
                    '_help -> "A password must be at least 6 characters. "
                )

                @inputPassword(
                    signupForm("password.confirm"),
                    '_label -> "Repeat password",
                    '_help -> "Please repeat your password again.",
                    '_error -> signupForm.error("password")
                )

            </fieldset>

            <div class="actions">
                <input type="submit" class="btn primary" value="Sign Up">
                <a href="@routes.Projects.index" class="btn">Cancel</a>
            </div>

        }

    </body>

</html>
